p {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  font-style: italic;
  text-align: center;
}

/***** button *****/
.according {
  font-size: 20px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.according::after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 8px;
  color: #777;
  float: right;
  margin-left: 5px;
}
/***** End button *****/
.active,
.according:hover {
  background-color: #ccc;
}

.active::after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  // display: none; // normal method
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
